---
type Props = {
    title: string;
    href?: string;
    linkLabel?: string;
};

const { title, href, linkLabel } = Astro.props;
---

<header class="section-header">
    <h2>{title}</h2>
    {href && linkLabel && <a href={href}>{linkLabel}</a>}
</header>
